body {
    background: black;
    color: white;
}

#chat
{
    position:fixed;
    padding:0px;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

#message_list {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
    overflow: scroll;
    overflow-x: hidden;
}
