.chat_logo, .rank_icon {
    margin: 0 4px 0 0;
}

.rank_icon {
    width: 20px;
    height: 20px;
}

.chat_goodgame_logo {
    content: url(logos/gg.png);
}

.chat_peka2tv_logo {
    content: url(logos/peka2tv.png);
}

.chat_twitch_logo {
    content: url(logos/twitch.png);
}

.chat_youtube_logo {
    content: url(logos/youtube.png);
}

.username {
    font-weight: bold;
}

.username-normal {
    color: #7797be!important;
}

.system_message {
    color: lime;
}

.error_message {
    color: crimson;
}

.message-to-user {
    color: #E7BA00;
}

a:link,
a:visited {
    color: #73adff;
}

a:hover,
a:active {
    color: #ffffff;
}
