.chat_logo {
    position: relative;
    display: inline-block;
    margin: 0 4px 0 0;
}

.chat_goodgame_logo {
    content: url(gg_logo.png);
}

.chat_peka2tv_logo {
    content: url(peka2tv_logo.png);
}

.chat_twitch_logo {
    content: url(twitch_logo.png);
}

.chat_youtube_logo {
    content: url(youtube_logo.png);
}

.username {
    font-weight: bold;
}

.username-normal {
    color: #7797be!important;
}

.system_message {
    color: lime;
}

.error_message {
    color: crimson;
}

.message-to-user {
    color: #E7BA00;
}

a:link,
a:visited {
    color: #73adff;
}

a:hover,
a:active {
    color: #ffffff;
}
